@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap|100,200,300,400,500,600,700');


/*------------------------------------------------------------------------------body*/
.d-sm-flex{
    margin: 0;}
}
.mr-3 {
 margin-right: 1rem}
}
.toggle {
    display: -ms-flexbox -moz-box -moz-inline-flex -webkit-flex ;

}
.visible {
  visibility: visible;
}
}

/*--------------------------------------------------------------------------------------*/



/*--------------------------------------------------------------------------------------*/





/*--------------------------------------------------------------------------------------*/






/*--------------------------------------------------------------------------------------*/







/*--------------------------------------------------------------------------------------*/







/*--------------------------------------------------------------------------------------*/